{% extends 'layout_pro.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Nouveau service</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Créer'}) }}

{% endblock %}
