<form method="post" action="{{ path('app_vehicule_delete', {'slug': vehicule.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce véhicule?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.slug) }}">
    <button class="btn btn-danger ms-3">Supprimer le véhicule</button>
</form>
