{% extends 'layout_pro.html.twig' %}

{% block title %}Supprimer photos véhicule{% endblock %}

{% block content %}
    <script>
        window.onload = function () {
            document.querySelector("form").querySelectorAll("input[type=checkbox]").forEach(checkbox => checkbox.checked = false);
        };
    </script>
    <h1 class="text-center pb-4">Supprimer photos du véhicule</h1>
    <div class="row">
            {{ include('vehicule/_delete_photos_form.html.twig', ) }}
    </div>

{% endblock %}
