{% extends 'layout_pro.html.twig' %}

{% block title %}Mettre à jour le véhicule{% endblock %}

{% block content %}
    <h1 class="text-center">Mettre à jour le véhicule</h1>
    <div class="w-100 text-end">
    <a href="{{ path('app_vehicule_delete_photos', { slug: vehicule.slug }) }}" class="btn btn-danger">Supprimer des photos</a>
    </div>
    <div class="row p-3 g-3">
        {{ include('vehicule/_create_edit_form.html.twig', {'button_label': 'Mettre à jour', cancel_button: true}) }}
    </div>

{% endblock %}
