{% extends 'layout_pro.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Ajouter un véhicule</h1>
    <div class="row g-3 p-3">
        {{ include('vehicule/_create_edit_form.html.twig', { cancel_button: true }) }}
    </div>
{% endblock %}
