{% for avi in avis %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title fw-bold">{{ avi.nom }}</h5>
                <span>
                    {% for i in range(1, 5) %}
                        {% if i <= avi.note %}
                            <i class="bi bi-star-fill"></i>
                        {% else %}
                            <i class="bi bi-star"></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="card-body">
                <p class="card-text" style="min-height: 8em;">
                    <strong>{{ avi.titre }}</strong><br>
                    {{ avi.commentaire }}
                </p>
                <p class="card-subtitle">visite le {{ avi.dateVisite ? avi.dateVisite|date('Y-m-d') : '' }}</p>
            </div>
        </div>
    </div>
{% endfor %}