{% extends 'layout_pro.html.twig' %}

{% block title %}Nouvel Avis Client{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Nouvel Avis Client</h1>

    {{ include('avis/_form.html.twig', { button_label: 'Créer', back_button: true}) }}

{% endblock %}
