{% extends 'layout_pro.html.twig' %}

{% block title %}Garage V. Parrot!{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Bienvenue {{ app.user.prenom }} dans votre espace pro </h1>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des comptes employés</h5>
                    <a href="#" class="btn btn-primary">Accéder aux employés</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des services du garage</h5>
                    <a href="#" class="btn btn-primary">Accéder aux services</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des horaires d'ouverture</h5>
                    <a href="#" class="btn btn-primary">Accéder aux horaires</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gérer les véhicules en vente</h5>
                    <a href="#" class="btn btn-primary">Accéder aux véhicules</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vous avez x messages non lus</h5>
                    <a href="#" class="btn btn-primary">Accéder aux messages</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vous avez x avis à valider</h5>
                    <a href="#" class="btn btn-primary">Accéder aux avis</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
