{% extends 'base.html.twig' %}

{% block title %}Horaires index{% endblock %}

{% block body %}
    <h1>Horaires index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Horaires</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td>{{ horaire.nomJour }}</td>
                <td>
                    {% if horaire.ouverture == false %}
                        Fermé
                    {% else %}
                        {% for slot in horaire.horaires|batch(2, 'Fermé') %}
                            {% if loop.first == false %}
                                <br/>
                            {% endif %}
                            {% if slot[loop.index] != '00:00:00' %}
                                {{ slot ? slot|map(p => "#{p|slice(0, 5)}")|join(' à ') : ''}}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'horaires enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
