body {
    background-color: lightgray;
}

.menu-background {
    background-color: #24393e;
    min-height: 100vh;
}
.menu-backdrop-2 {
    width: 280px;
}

header .menu {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

@media screen and (max-width:900px) {
    .mobile-menu {
        top: 10vh;
        left: 0;
        position: absolute;
        width: 100vw;
        min-height: 90vh;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index:1000;
    }
}
