* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-family: 'Exo 2', sans-serif;
}

header {
  height: 15vh;
  width: 100vw;
  background-color: #24393e;
  flex-shrink: 0;
}

/* Nav bar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: #f0c542;
}

.navbar .logo {
  padding: 0;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links li {
  padding: 10px 25px;
}

.navbar .nav-links ul li.active a {
  color: burlywood;
  font-weight: 600;
}

.navbar .menu {
  display: none;
  position: absolute;
  color: #ffffff;
  top: 50px;
  right: 30px;
  width: 35px;
}

.navbar button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}


/* main*/
main {
  background-color: #ffffff;
  padding: 2vh;
  flex: 1 0 auto;

}

.trouver-voiture {
  background-color: #f0c542;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card-service {
  margin: 0 0.5em;
  height: 30vh;
  /*width: 20vw;*/
}

.carousel-inner {
  padding: 1em 0;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .card img {
    height: 11em;
  }
  .cards-wrapper {
    min-height: 90vh;
  }
}

/* Footer*/

.footer-page {
  color: #f0c542;
  background-color: #24393e;
}



/* Responsive */

@media screen and (max-width:900px) {
  .navbar {
    padding: 0;
    z-index: 3;
    width: 100vw;
  }

  .nav-links {
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-links.mobile-menu {
    display: flex;
  }

  .nav-links ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navbar .menu {
    display: block;
  }

  .navbar .nav-links li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .navbar .logo {
    display: none;
  }
}
