{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
{#        TODO: nav-link active
{% class="if app.request.attributes.get('_route') starts with 'book' %}active{% endif %}"
#}
        {% set menu_entries = {
            'app_espace_pro': 'Accueil',
            'app_users': 'Employés',
            'app_service_index': 'Services',
            'app_horaires_index2': 'Horaires d\'ouverture',
            'app_vehicule_index_pro': 'Véhicules',
            'app_message_index': 'Messages clients',
            'app_avis_index': 'Gestion avis clients'
        } %}

        {% if not is_granted('ROLE_ADMIN') %}
            {% set menu_entries = menu_entries|slice(0, 4) %}
        {% endif %}
        <div class="d-flex flex-nowrap">
            <aside class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; height: 100vh; background-color: #24393e;">
                <div class="d-flex justify-content-center mb-3 mb-md-0">
                    <img src="{{ asset('assets/logo-garage.png') }}" style="width: 120px;"  alt="logo-garage" />
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for menu_route, label in menu_entries %}
                        <li class="nav-item">
                            <a href="{{ path(menu_route) }}" class="text-white nav-link {% if app.request.attributes.get('_route') starts with menu_route|split('_')|slice(0, 2)|join('_') %}active{% endif %}" aria-current="page">
                                {{ label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <div class="deco">
                    <a href="{{ path('app_logout') }}" class="d-flex align-items-center text-white text-decoration-none">
                        Se déconnecter
                    </a>
                </div>
            </aside>
        {% endblock %}
        <main class="container">
        {% block content %}
        {% endblock %}
        </main>
    <div class="d-flex flex-nowrap">
{% endblock %}